In [199]:
import csv
import pandas as pd
import numpy as np
import os
import calendar
import matplotlib.pyplot as plt
from datetime import datetime
import pickle
import json

os.getcwd()

'C:\\Users\\user\\Desktop'

In [200]:
df=pd.read_json (r'contacts.json')

In [201]:
df.head()

   Id               Email         Phone  Contacts                    OrderId
0   0      gkzAbIy@qq.com                       1
1   1                      329442681752         4  vDDJJcxfLtSfkooPhbYnJdxov
2   2                        9125983679         0
3   3  mdllpYmE@gmail.com                       0  bHquEnCbbsGLqllwryxPsNOxa
4   4                         300364407         2

In [202]:
df_email_id=df[['Id','Email']]
df_email_id=df_email_id.replace('', np.nan)
df_email_id_no_nan=df_email_id.dropna(axis=0)
df_email_id_no_nan['Email']=df_email_id_no_nan['Email'].str.lower()

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [204]:
df_email_id_no_nan = df_email_id_no_nan.sort_values('Email')

m=df_email_id_no_nan.groupby('Email')['Id'].apply(list)

for i in range(len(m)):
    m[i].sort()
email=m.reset_index(name='new1')

In [205]:
email

                                   Email              new1
0                aaafcfltknovwtbj@qq.com           [30923]
1                  aaagrssxm@hotmail.com          [380486]
2                  aaagyktteojasn@qq.com          [338154]
3           aaaikbdgcuoiifqr@hotmail.com          [412453]
4         aaaikdlzsjilbngdmqlc@yahoo.com    [31603, 74652]
...                                  ...               ...
249151           zzzrxmjpujjtv@yahoo.com  [159037, 302853]
249152   zzzsqjikrqnmjnrvfjr@hotmail.com          [306427]
249153              zzzuuhtfrgjzj@qq.com          [135275]
249154               zzzxlvkuu@yahoo.com          [242088]
249155  zzzyncklltgpklwetudk@hotmail.com  [176714, 322854]

[249156 rows x 2 columns]

# phone

In [206]:

df_Phone_id=df[['Id','Phone']]
df_Phone_id=df_Phone_id.replace('', np.nan)
df_Phone_id_no_nan=df_Phone_id.dropna(axis=0)
df_Phone_id_no_nan['Phone']=df_Phone_id_no_nan['Phone'].str.lower()

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [207]:
df_Phone_id_no_nan = df_Phone_id_no_nan.sort_values('Phone')

k=df_Phone_id_no_nan.groupby('Phone')['Id'].apply(list)
for i in range(len(k)):
    k[i].sort()

Phone=k.reset_index(name='new2')
Phone

               Phone              new2
0          000002957          [318092]
1        00000837565          [411745]
2        00001018140          [333273]
3         0000109887          [170421]
4         0000211995  [229812, 265783]
...              ...               ...
190672     999972302          [326065]
190673  999987880646           [37583]
190674   99999153118          [179194]
190675    9999969553  [323366, 483731]
190676     999997713          [283756]

[190677 rows x 2 columns]

# order

In [208]:
df_OrderId_id=df[['Id','OrderId']]
df_OrderId=df_OrderId_id.replace('', np.nan)

df_OrderId_id_no_nan=df_OrderId.dropna(axis=0)
df_OrderId_id_no_nan['OrderId']=df_OrderId_id_no_nan['OrderId'].str.lower()

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [209]:
df_OrderId_id_no_nan = df_OrderId_id_no_nan.sort_values('OrderId')
l=df_OrderId_id_no_nan.groupby('OrderId')['Id'].apply(list)

for i in range(len(l)):
    l[i].sort()

OrderId=l.reset_index(name='new3')
OrderId

                          OrderId              new3
0       aaabmieiiqielistqreajvaar  [294753, 409041]
1       aaadcojxvuszlouaswebckidd           [42585]
2       aaaenqocwnzmepqxrprxkrupz          [469702]
3       aaairdwwqiacbbahdoymhnvul  [291888, 377351]
4       aaaljssdwrlviwctcnviizism  [130401, 351722]
...                           ...               ...
189297  zzzgrupkrjwuvatucmxuryxtf          [181065]
189298  zzzgxupfecfxzbxklhpgqrfvd  [313170, 313578]
189299  zzzhmhpgdnoavqwrxifhnszjf           [43571]
189300  zzzlfhpjguqlxoqkfpgupdrlg          [193361]
189301  zzznvphytfggipgbanqozrdiz  [165331, 257474]

[189302 rows x 2 columns]

In [ ]:
df_email=df.merge(email,on='Email',how='left')

In [242]:
df_email_Phone=df_email.merge(Phone,on='Phone',how='left')
df_email_Phone_orderid=df_email_Phone.merge(OrderId,on='OrderId',how='left')

In [389]:
d=df_email_Phone_orderid[['new1','new2','new3']]
d['combined']= d.values.tolist()

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [438]:
# initializing the data and empty list
# function
def flatten_list(data):
    # iterating over the data
    for element in data:
        # checking for list
        if type(element) == list:
            # calling the same function with current element as new argument
            flatten_list(element)
        else:
            flat_list.append(element)

In [ ]:
# flattening the given list
c2_list=[]
for i in range(len(d.combined)):
    print(i)
    flat_list = []
    flatten_list(d.combined[i])
    c2=flat_list
    c2_list.append(c2)

In [392]:
len(c2_list)

500000

In [394]:
d["c2"]=0
d["c2"]=d["c2"].astype(object)

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
for i in  range(len(c2_list)):
    #print(i)
    d["c2"][i]=c2_list[i]

In [397]:
df_email_Phone_orderid['c2']=d['c2']
d1=df_email_Phone_orderid

In [ ]:
a=d1.c2[0]
for i in  range(len(d1.c2)):
    #print(i)
    if d1["c2"][i]==a:
         d1["c2"][i]=d1['Id'][i]

In [429]:
d1['c2_str']=d1.c2.astype(str)
total=d1.groupby('c2_str')['Contacts'].transform(sum)
d1['total']=total
d1_s=d1[['c2','total']]
d1['solution']= d1_s.values.tolist()

In [ ]:
# flattening the given list
s_list=[]
for i in range(len(d1.solution)):
    #print(i)
    flat_list = []
    flatten_list(d1.solution[i])
    s=flat_list
    s_list.append(s)

In [442]:
d1["ticket_trace/contact"]=0
d1["ticket_trace/contact"]=d1["ticket_trace/contact"].astype(object)
for i in  range(len(s_list)):
    print(i)
    d1["ticket_trace/contact"][i]=s_list[i]

In [512]:
d2=d1[['Id','ticket_trace/contact']]
d2=d2.rename(columns={"Id": "ticket_id"})

In [513]:
#d2['ticket_trace/contact']=[str(i).replace("[","") for i in d2['ticket_trace/contact']]
#d2['ticket_trace/contact']=[str(i).replace("]","") for i in d2['ticket_trace/contact']]
d2['ticket_trace/contact']=[str(i)[::-1].replace(",","/",1)[::-1] for i in d2['ticket_trace/contact']]
d2['ticket_trace/contact']=[str(i).replace("[","") for i in d2['ticket_trace/contact']]
d2['ticket_trace/contact']=[str(i).replace("]","") for i in d2['ticket_trace/contact']]
d2['ticket_trace/contact']=[str(i).replace(", nan","") for i in d2['ticket_trace/contact']]
d2['ticket_trace/contact']=[str(i).replace("nan,","") for i in d2['ticket_trace/contact']]
d2['ticket_trace/contact']=[str(i).replace(",","-") for i in d2['ticket_trace/contact']]
d2['ticket_trace/contact']=[str(i).replace("/",",") for i in d2['ticket_trace/contact']]
d2['ticket_trace/contact']=[str(i).replace(" ","") for i in d2['ticket_trace/contact']]

# output to csv

In [515]:
d2.to_csv(r'd2.csv')